<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="icon" href="/static/favicon.ico" />
        <title>跳板机日志安全审计系统－用户验证</title>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <div class="content">
            <form id="form" name="form" action="/login" method="POST">
                <table class="table">
                    <tr><td colspan="2" align="center"><b>用户登录</b></td></tr>
                    <tr><td>用户:</td><td><input id="username" name="username" type="text" class="input" /></td></tr>
                    <tr><td>密码:</td><td><input id="password" name="password" type="password" class="input"/></td></tr>
                    <tr><td></td><td><input id="Submit" type="submit" value="登录" class="bt"/>&nbsp;&nbsp;&nbsp;&nbsp;<input id="Reset" type="reset" value="重置" class="bt"/></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>

